{% extends "base.html" %}
{% block content %}
  <h1>{{ recipe.name }}</h1>
  <h3>Instructions</h3>
  <p>{{ recipe.instructions }}</p>
  <h3>Ingredients</h3>
  <table>
    {% for ingredient in recipe.ingredients %}
      <tr>
        <td>{{ ingredient.ingredient.name }}</td>
        <td>{{ ingredient.quantity }} {{ ingredient.ingredient.unit_type }}</td>
        <td>({{ ingredient.ingredient.calories_per * ingredient.quantity }} calories)</td>
      </tr>
    {% endfor %}
      <tr><td>Total calories: {{ recipe.calories }}</td></tr>
  </table>
{% endblock %}